name: Exibir informações da Issue

on:
  issues:
    types: [opened, edited]

jobs:
  mostrar-info:
    runs-on: ubuntu-latest
    steps:
      - name: Exibir número e labels da issue
        run: |
          echo "Número da issue: ${{ github.event.issue.number }}"
          echo "Labels: ${{ toJson(github.event.issue.labels) }}"
      - name: Converter issue para JSON
        uses: zentered/issue-forms-body-parser@v2.0.0
        id: parse
      - name: Exibir dados convertidos
        run: |
          echo '${{ steps.converter.outputs.data }}'
      - name: Verificar se a issue tem a label 'evento:adicionar'
        if: contains(join(github.event.issue.labels.*.name, ','), 'evento:adicionar')
        run: |
          echo "A issue contém a label 'evento:adicionar'."
          # Adicione aqui o código para processar a issue conforme necessário

      - name: Verificar se a issue NÃO tem a label 'evento:adicionar'
        if: ${{ !contains(join(github.event.issue.labels.*.name, ','), 'evento:adicionar') }}
        run: |
          echo "A issue não contém a label 'evento:adicionar'."
          echo "JSON da issue: ${{ toJson(steps.parse.outputs.data) }}"
          # Adicione aqui o código para processar a issue conforme necessário
